<div class="container">
  <div class="row">
    <div class="col text-center">
      <%= image_tag 'cleanmaplogo.png', :size =>'150x150' %>
      <p>ようこそClean Mapへ<br>
      皆様のお掃除が楽しいものになるようにお手伝いをします。
      </p>
      <%= link_to "Top", root_path, class: "btn btn-outline-info" %>
    </div>
  </div>
</div>
