<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>

<%= link_to "Sign up", new_user_registration_path %>

<%= link_to "Log in", new_user_session_path %>

<%= link_to 'Guest', users_guest_sign_in_path, method: :post %>
