<h1>Come on! Let's clean up!</h1>

<%= link_to "Sign up", new_user_registration_path %>

<%= link_to "Log in", new_user_session_path %>

<%= link_to 'Guest', users_guest_sign_in_path, method: :post %>
