<div class="container">
  <div class="row justify-content-center mr-0">
    <div class="col-md-8 col-md-offset-3 mb-4">
      <div class="mt-5 mb-3 mr-4 ml-4">
        <% if @comments.empty? %>
          <h4 class="text-center">まだコメントはありません。</h4>
        <% else %>
          <% @comments.each do |comment| %>
            <div class="card mb-3">
              <div class="card-header">
                <% if comment.user %>
                  <%= comment.user.name %> さん
                <% else %>
                  Unknown User
                <% end %>
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <small><%= comment.comment %></small>
                  <footer class="blockquote-footer"><small><%= comment.created_at.strftime('%Y年%m月%d日') %></small>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end"><%= link_to "このコメントを削除", post_comment_path(comment.post_id, comment), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></div>
                  </footer>
                </blockquote>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>